header
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: grey;
  margin-bottom: 10px;
  padding-left: 10px;

}

nav ul 
{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
}

body 
{
	position: relative;
	width: 65%;
	margin: auto;
}

h2
{
	text-align: center;
}

#best_film  
{
	border: solid black;
	padding: 5px 5px 5px 5px;
}

#box_right{
	left: 65%;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

#box_left{
	justify-content: space-between;
	position: absolute;
	top: 10%;
	text-align: center;
}

#boutton{
	background-color: red;
	border-radius: 5px;
}

.all_movies 
{
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	width: 90%;
	margin-left: 55px;
	
}

.movie:hover {
	transform: scale(1.2);
}


.next, .next_4, .next_2, .next_3
{ display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
}

.next{top: 37%}
.next_2{top: 55%}
.next_3{top: 73%}
.next_4{top: 93%}


.prev_movie, .next_movie {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  width: auto;
  height: auto;
  color: white;
  background-color: black;
  transition: transform 0.3s;

 
}

.prev_movie:hover, .next_movie:hover
{transform: scale(1.2);}


#modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

#modal_head {
	display: flex;
	justify-content: space-between;
}

#modal_content {
  background-color: white;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center; 
}

#modal_close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
